<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Teams and Superheros</title>
  </head>
  <body>

    <h1>Create a Team and Heroes!</h1>

    <form action="/checkout" method="POST">
      <label for="team_name"> Team Name: </label>
      <input id="team_name" input type="text" name="team[name]"><br>

  </body>
</html>
    
