<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Teams and Superheros</title>
  </head>
  <body>

    <h1>Create a Team and Heroes!</h1>

    <form action="/checkout" method="POST">
      <label for="item"> Item: </label>
      <input id="item" input type="text" name="item"><br>

  </body>
</html>
